nav {
    display: flex;
    align-items: center;
    height: 65px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    padding: 20px 30px;
    width: auto;
    border-radius: 5px;
}

nav>h2 {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.1em;
    /* padding-left: 10px; */
    padding: 10px;
}

nav>h3 {
    font-family: "inter";
    font-weight: 500;
    font-size: 15px;
}

nav>img {
    height: 35px;
    border-radius: 20px;
    width: 35px;
}